$namespace: 'ty';
$element-separator: '__';
$modifier-separator: '--';
$state-prefix: '_';

// Break-point
$--xs: 576px !default;
$--sm: 576px !default;
$--md: 768px !default;
$--lg: 992px !default;
$--xl: 1200px !default;
$--xxl: 1600px !default;

$--breakpoints: (
  'xs': (
    max-width: $--xs - 1
  ),
  'sm': (
    min-width: $--sm
  ),
  'md': (
    min-width: $--md
  ),
  'lg': (
    min-width: $--lg
  ),
  'xl': (
    min-width: $--xl
  ),
  'xxl': (
    min-width: $--xxl
  )
);
