body {
  background-color: #f4f6f9;
  // background-color: #e2e5d8;
  font-family: Roboto, Lato, sans-serif;
}
html {
  -webkit-tap-highlight-color: transparent;
}

.tyche-wrapper {
  display: flex;
  & > aside {
    flex: 1;
  }
  & > main {
    flex: 5;
  }
  .code-view-wrapper {
    .md {
      &-show {
        height: auto;
      }
    }
  }
}

.demo {
  &-page {
    & > div {
      button + button {
        margin-left: 24px;
      }
      button {
        vertical-align: middle;
        margin-bottom: 24px;
      }
    }
    .markdown {
      h3 {
        margin-top: 46px;
        padding-left: 18px;
      }
    }

    & > div {
      margin: 18px 0;
      max-width: 820px;
      width: 75%;
      .code-view-wrapper {
        border: 1px dashed #00000042;
        transition: border-color 0.3s linear;
        &:hover {
          border-color: #2196f3;
        }
      }
    }

    .code-view {
      padding-bottom: 0;
    }

    .code-view-toolbar {
      button {
        margin-bottom: 0;
      }
    }
  }
}
