body {
  background-color: #f4f6f9;
  // background-color: #e2e5d8;
}
html {
  -webkit-tap-highlight-color: transparent;
}

.tyche-wrapper {
  display: flex;
  & > aside {
    flex: 1;
  }
  & > main {
    flex: 5;
  }
}

.demo {
  &-buttons {
    .ty-button {
      margin-right: 8px;
      margin-bottom: 12px;
    }
  }
}
