@import '../../theme/mixins/mixins.scss';
@import '../../theme/default.scss';

@include b(appbar) {
  display: flex;
  padding: 0 24px;
  line-height: 64px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 #0000001f;

  @each $key, $color in $--colors {
    @include m($key) {
      color: $--color-white;
      background-color: $color;
      @include e(icon-btn) {
        color: $--color-white;
      }
    }
  }
  @include m(default) {
    color: $--color-black;
    background-color: $--color-white-heavy;
    @include e('icon-btn') {
      color: $--color-black;
    }
  }

  @include e(icon) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-left: -10px;
    overflow: hidden;
  }

  @include e(typography) {
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 20px;
  }

  @include e(toolBar) {
    display: flex;
    align-items: center;
    margin-right: -8px;
  }
}
