@import '../../theme/mixins/mixins.scss';
@import '../../theme/default.scss';

@include b(appbar) {
  line-height: 64px;
  display: flex;
  padding: 0 24px;
  color: $--color-white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12);
  @include m(default) {
    background-color: $--color-white-heavy;
  }
  @include m(primary) {
    background-color: $--color-primary;
  }
  @include m(primary-dark) {
    background-color: $--color-primary-dark;
  }
  @include m(secondary) {
    background-color: $--color-secondary;
  }
  @include m(success) {
    background-color: $--color-success;
  }
  @include m(warning) {
    background-color: $--color-warning;
  }
  @include m(danger) {
    background-color: $--color-danger;
  }

  @include e(icon) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-left: -10px;
    overflow: hidden;
  }

  @include e(typography) {
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 20px;
  }

  @include e(toolBar) {
    display: flex;
    align-items: center;
    margin-right: -8px;
  }
}
