@import '../../theme/mixins/mixins.scss';
@import '../../theme/default.scss';

@include b(radio) {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  @include e(icon) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    color: $--color-black;
    %icon-svg {
      display: inline-block;
      width: 1em;
      height: 1em;
      font-size: 1.5em;
      fill: currentColor;
    }
    @include e(border) {
      @extend %icon-svg;
    }
    @include e(circle) {
      @extend %icon-svg;
      position: absolute;
      transform: scale(0);
      transition: transform 150ms cubic-bezier(0.4, 0, 1, 1);
    }
  }

  @include e(input) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  @include e(ripple) {
    position: absolute;
    z-index: 1;
  }

  @include m(primary) {
    @include e(icon) {
      color: $--color-primary;
    }
  }

  @each $key, $color in $--colors {
    @include m($key) {
      @include e(icon) {
        color: $color;
      }
    }
  }

  @include m(checked) {
    @include e(circle) {
      transform: scale(1);
      transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
    }
  }

  @include m(disabled) {
    color: $--color-disabled;
    cursor: not-allowed;
    @include e(icon) {
      color: inherit;
    }
  }
}
