@import '../../theme/mixins/mixins.scss';

@include b(button) {
  width: 100px;
  @include e(body) {
    padding: 10;
    @include m(test) {
      padding: 1;
    }
  }
  @include when(active) {
    color: #f66;
  }
}
