@import '../../theme/mixins/mixins.scss';

@include b(icon) {
  display: inline-block;
  line-height: 0;
  vertical-align: -0.125em;
  @include m(spin) {
    animation: loadingCircle 1s infinite linear;
  }
  @include m(left) {
    margin-right: 8px;
  }
  @include m(right) {
    margin-left: 8px;
  }
  &.material-icons {
    font-size: 24px;
    line-height: 1;
  }
}

@keyframes loadingCircle {
  100% {
    transform: rotate(360deg);
  }
}
