@import '../../theme/mixins/mixins.scss';

@include b(icon) {
  display: inline-block;
  line-height: 0;
  vertical-align: -0.125em;
  @include m(spin) {
    animation: loadingCircle 1s infinite linear;
  }
}

@keyframes loadingCircle {
  100% {
    transform: rotate(360deg);
  }
}

.material-icons {
  line-height: 1;
}
