$line-height-base: 1.499;

// color
$--color-white: #fff !default;
$--color-white-heavy: #f5f5f5;
$--color-primary: #2196f3 !default;
$--color-primary-light: #6ec6ff !default;
$--color-primary-dark: #0069c0 !default;
$--color-secondary: #ec407a !default;
$--color-success: #4caf50 !default;
$--color-warning: #fb8c00 !default;
$--color-danger: #ff5252 !default;
$--color-black: rgba(0, 0, 0, 0.65);
$--color-black-heavy: rgba(0, 0, 0, 0.85);
$--color-gray: #e0e0e0;
$--color-gray-heavy: #8c8c8c;

$--button-disable-background: rgba(0, 0, 0, 0.12);
$--button-loading-background: #d6d8db;
$--button-disable-color: rgba(0, 0, 0, 0.26);
